{% extends 'base.html' %}

{% block content %}
<div class="col-sm-9 padding-right">
    <div class="product-details"><!--product-details-->
        <div class="col-sm-5">
            <div class="view-product">
                <img src="" alt=""/>
                <h3>ZOOM</h3>
            </div>
<!--            <div id="similar-product" class="carousel slide" data-ride="carousel">-->

<!--                &lt;!&ndash; Wrapper for slides &ndash;&gt;-->
<!--                <div class="carousel-inner">-->
<!--                    <div class="item active">-->
<!--                        <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>-->
<!--                        <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>-->
<!--                        <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                        <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>-->
<!--                        <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>-->
<!--                        <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                        <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>-->
<!--                        <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>-->
<!--                        <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>-->
<!--                    </div>-->

<!--                </div>-->

<!--                &lt;!&ndash; Controls &ndash;&gt;-->
<!--                <a class="left item-control" href="#similar-product" data-slide="prev">-->
<!--                    <i class="fa fa-angle-left"></i>-->
<!--                </a>-->
<!--                <a class="right item-control" href="#similar-product" data-slide="next">-->
<!--                    <i class="fa fa-angle-right"></i>-->
<!--                </a>-->
<!--            </div>-->

        </div>
        <div class="col-sm-7">
            <div class="product-information"><!--/product-information-->
                <img src="images/product-details/new.jpg" class="newarrival" alt=""/>
                <h2>{{post.name}}</h2>
                <img src="images/product-details/rating.png" alt=""/>
                <span>
                    <form action="" method="post">
									<span>₴ {{post.price}}</span>


									<button type="button" class="btn btn-fefault cart">
										<i class="fa fa-star"></i>
										В список желаемых
									</button>
                    </form>

                </span>
                <p><b>Категория:</b> </p>
                <p><b>Город:</b> </p>
                <p><b>Номер телефона:</b> </p>
                <a href=""><img src="images/product-details/share.png" class="share img-responsive" alt=""/></a>
            </div><!--/product-information-->
        </div>
    </div><!--/product-details-->

    <div class="category-tab shop-details-tab"><!--category-tab-->
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="#details" data-toggle="tab">Details</a></li>


                <li class="active"><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade" id="details">
                {{ post.description }}
            </div>

            <div class="tab-pane fade active in" id="reviews">
                <div class="col-sm-12">
                    <ul>
                        <li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
                        <li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
                        <li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
                    </ul>
                    <p>{{ post.description }}</p>
                    <p><b>Write Your Review</b></p>

                    <form action="#">
										<span>
											<input type="text" placeholder="Your Name"/>
											<input type="email" placeholder="Email Address"/>
										</span>
                        <textarea name=""></textarea>
                        <b>Rating: </b> <img src="static/images/product-details/rating.png" alt=""/>
                        <button type="button" class="btn btn-default pull-right">
                            Submit
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div><!--/category-tab-->
</div>
{% endblock %}